@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

* {
	font-family: Montserrat;
	text-decoration:none;
	outline: none;
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html {
	font-size: 62.5%;
	overflow-x: hidden	/*"hidden" significa que cualquier contenido que se desborde horizontalmente (es decir, que sea más ancho que el contenedor) será ocultado*/
}

body {
	background:#2c345e;
}

header {
	width:100%;
	background:#161e4a;
	position:fixed;
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	z-index: 1000;
	transition: .2s;
}

header .navbar ul {
	display:flex;
	align-items: center;
	justify-content: space-between;
	list-style:none;
}

header .navbar ul li {
	margin: 0 1rem;
}

header .navbar ul li a {
	font-size: 2rem;
	color:#fff;
	transition: .2s;
}

header .navbar ul li .active,
header .navbar ul li a:hover {
	color:#ff046f;
}

header .logo {
	font-size: 1.5 rem;
	color:#fff;
	text-transform:uppercase
}

/*inicio*/

.inicio {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
	background: url(images/inicio4.jpg);
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

 /*home*/
 
.home {
    background: #2c345e;
    height: 40vh; /* Ajustamos la altura al 100% del viewport */
    overflow: hidden;
    position: relative;
    padding-top: 20px;
    text-align: center;
    display: flex; /* Convertimos el contenedor en un contenedor flexible */
    align-items: center; /* Centramos verticalmente el contenido */
}

.home .content {
    display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	justify-content:center; 
    width: 100%; /* Ajustamos el ancho al 100% */
}

.home h1{
	margin-top: 100px;
	font-size: 4rem;
	color: #fff;
	text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
	text-transform: uppercase;
	margin-top: 0; /* Eliminamos el margen superior para centrar verticalmente */
}

.home p {
	color: #fff;
	margin-top: 10px; /* Espacio entre el título y el texto */
	font-size: 3rem;
	
	text-align: center;
}

/*extrainfo*/

.extrainfo {
	text-align: center;
	margin: 50px 0;
	background: #fff;
	margin-left: 380px; 
	margin-right: 380px; 
}

.extrainfo .box-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.extrainfo .box-container .box {
	height:15rem;
	width:20rem;
	background:#161e4a;
	text-align:center;
	border-radius:1rem;
	box-shadow:0 .3rem 5rem rgba(0,0,0,.5);
	margin: 2rem;
	cursor: pointer;
}

.extrainfo .box-container .box i {
	height:6rem;
	width:6rem;
	line-height: 6rem;
	text-align: center;
	border-radius: 50%;
	color:#fff;
	background:#c63bfa;
	font-size:3rem;
	margin: 2rem 0;
	transition: .2s;
}

.extrainfo .box-container .box h3 {
	font-size: 1.25rem;
	color: #fff;
	transition: .2s;
}

.extrainfo .box-container .box p {
	font-size: 1rem;
	color: #fff;
	transition: .2s;
}

/*destacado*/
.destacado{
	text-align: center;
	margin: 100px 0;
	background: #2c345e;
	height: 70vh; 
	margin-left:40px;
	margin-right: 40px;

	
}
.destacado h1{
	margin-top: 100px;
	font-size: 4rem;
	color: #fff;
	padding: 30px ;
	text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
	text-transform: uppercase;
}
.destacado h3{
	font-size: 1.5rem;
	color: #fff;
	transition: .2s;
	margin-left:40px;
	text-align: center;
	margin-top: -30px; 
	
}
.content {
    width: 90%;
    text-align: left;
    font-size: 24px; /* Cambiar el tamaño del texto según sea necesario */
	display: flex;
    align-items: center;
    justify-content: space-between;
	margin-top: -30px; 
}
.destacado p{
	margin-top: 40px; 
	font-size: 3rem;
	color: #fff;
	transition: .2s;
	margin-left:40px;
	margin-right:90px;
}

.destacado .sliderbox {
	display:flex; 
    width:50%; 
	text-align: right;
	
}
.destacado li{
	width: 100%; 
}
	
.destacado img {
	margin-top:40px; 
    width: 500px;
    height: 300px;
}

.destacado button {
	height: 10 rem;
	width: 17rem;
	border-radius: 1rem;
	background:#ff046f;
	color:#fff;
	font-size: 2rem;
	cursor: pointer;
	transition:.2s;
	box-shadow:0 .3rem 1rem rgba(0,0,0,.3);
	margin-top: 2rem;
	border-color:#ff046f;
	margin-left:40px;
}
.destacado {
	background:#161e4a;
	
}

/*conection*/

.conection{
	text-align: center; /* Alinea el contenido al centro */
	margin-right: 40px; /* Establece un margen de 20px en el lado derecho */
    margin-left: 40px;
	margin-top: 40px; 
	height: 40vh; 
	padding-top:20px
}
.conection h1{
	font-size: 4rem;
	color: #fff;
	padding: 0 10rem;
	text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
	text-transform: uppercase;
}
.conection p{
	font-size: 2rem;
	color: #fff;
	transition: .2s;
}

.conection {
    position: relative;
    overflow: hidden;
}


/*Servicio al Cliente*/
.clientservice {
	padding: 50px 0; 
	text-align: center;
	margin-left:40px; 
	margin-right: 40px; 
	background: #161e4a;
	height: 60vh;
}
.clientservice h1{
	font-size: 4rem;
	color: #fff;
	padding: 0 10rem;
	text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
	text-transform: uppercase;
}
.clientservice h2{
	font-size: 1,5rem;
	color: #fff;
	padding: 0 10rem;
	text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
	
}
.clientservice .conteiner-service{
	display: flex; 
	justify-content: space-between; 

}
.box1{
	padding:30px 55px;  
}
.box1 img{
	width: 250px; 
	border-radius:15px; 
	margin-bottom: 15px;
} 
.box1 h3{
	font-size: 25px; 
	color: #fff
}
.box1 p{
	color: #fff; 
}

/*footer*/
.footer{
	
	background: #464d7e; 
	padding:50px 0;
	 	
}
.footer .container{
	display:flex;
    width: 100%; /* Ancho del contenedor */
    margin: auto;
	padding-left: 150px; 
	
}
.footer .row{
	display:flex;
    width: 80%; /* Ancho del contenedor */
    margin: auto; /* Centra el contenedor horizontalmente */
}


.footer .row .links{
	width:30%; 
	padding: 0 15px; 
	
}
.footer .row .links h4{
	font-size: 3rem;
	color: #fff; 
	margin-bottom: 25px; 
	font-weight: 500; 
	padding-bottom:10px; 
	text-transform: uppercase; 
	font-weight: bold;
	display: inline-block; 
	text-decoration: underline;
}
.footer .row .links ul a{
	font-size: 10px;
	color:  #161e4a; 
	display:block; 
	margin-bottom: 15px; 
	transition: all .3s ease; 
	font-size: 2rem; 
}
.footer .row .links ul a:hover{
	color:#fff; 
	padding-left: 6px; 
	text-decoration: underline;
}
.social a{
	display: inline-block; 
	height:60px; 
	width:60px; 
	background: #161e4a; 
	text-align: center; 
	line-height:60px; 
	border-radius: 50%; 
	color:#fff; 
	transition: all .5s ease; 
	font-size:3rem;
}
.social a:hover{
	background:#fff;
	color: #161e4a;
}